#header {
	height: 80px;
	background-color: #29a329;
	color: white;
	width: auto;
}

body {
	background-image: linear-gradient(#e6e6e6, #bfbfbf);
	background-image: -ms-linear-gradient(#e6e6e6, #bfbfbf);
	background-image: -moz-linear-gradient(#e6e6e6, #bfbfbf);
	background-image: -o-linear-gradient(#e6e6e6, #bfbfbf);
	background-image: -webkit-linear-gradient(#e6e6e6, #bfbfbf); 
}

.daftar1 {
	background-image: linear-gradient(#33ff77, #00802b);
	background-image: -ms-linear-gradient(#33ff77, #00802b);
	background-image: -moz-linear-gradient(#33ff77, #00802b);
	background-image: -o-linear-gradient(#33ff77, #00802b);
	background-image: -webkit-linear-gradient(#33ff77, #00802b);
	width: 800px;
	padding: 50px;
	margin: auto;
	margin-top: 50px;
	border-radius: 20px;
	height: 1000px;
}

.login1 {
	background-image: linear-gradient(#33ff77, #00802b);
	background-image: -ms-linear-gradient(#33ff77, #00802b);
	background-image: -moz-linear-gradient(#33ff77, #00802b);
	background-image: -o-linear-gradient(#33ff77, #00802b);
	background-image: -webkit-linear-gradient(#33ff77, #00802b);
	width: 600px;
	height: 400px;
	padding: 50px;
	margin: auto;
	margin-top: 50px;
	border-radius: 20px;
}

.content{
	width: 75%;
	text-align: justify;
	float: left;
	background-image: linear-gradient(lightgrey, grey);
	background-image: -ms-linear-gradient(lightgrey, grey);
	background-image: -moz-linear-gradient(lightgrey, grey);
	background-image: -o-linear-gradient(lightgrey, grey);
	background-image: -webkit-linear-gradient(lightgrey, grey);
	height: 1300px;
}

h3, p{
	padding-left: 20px;
	padding-right: 20px;
}

.container{
	margin-top:80px;
}
.sidebar {
	background-color: grey;
	float: right;
	width: 25%;
	height: 1300px;
}

.grafik{
	height: 500px;
	width: 600px;
	background-color: lightgreen;
}

.footer{
	background-color: red;
	color: white;
	width: auto;
}

.galeri{
	width: 230px;
	height: 230px;
	background-color: lightgreen;
	margin: 20px; 
	float: left;
}